{% if title %}
  <div class="container">
    {%
      include '@<%= themeNameMachine %>/heading/heading.twig' with {
        "heading": {
          "title": title,
          "heading_level": "2",
          "modifier": "heading--section",
        },
      } only
    %}
  </div>  
{% endif %}
