{{ attach_library('<%= themeNameMachine %>/utility-nav') }}

{% if links %}
  <div class="utility-nav">
    {% if links %}
      {%
        include '@<%= themeNameMachine %>/menu/menu.twig' with
          {
            items: links
          } only
      %}
    {% endif %}
  </div>
{% endif %}
