
<!--DO NOT REMOVE-->
{{ patternLabFoot | raw }}
  <!-- Start fake drupalSettings -->
  <!--
  <script type="application/json" data-drupal-selector="drupal-settings-json">
  </script>
  -->
  <!-- END fake drupalSettings -->
  <!-- START Drupal-provided js -->
  <script src="/core/assets/vendor/jquery/jquery.min.js"></script>
  <script src="/core/assets/vendor/jquery-once/jquery.once.min.js"></script>
  <script src="/core/assets/vendor/domready/ready.min.js"></script>
  <script src="/core/misc/drupalSettingsLoader.js"></script>
  <script src="/core/misc/drupal.js"></script>
  <script src="/core/misc/drupal.init.js"></script>
  <script src="/core/assets/vendor/picturefill/picturefill.min.js"></script>
  <script src="https://www.principalcdn.com/css/horizon/v2/horizon.min.js"></script>
  <script src="../../js/header-nav-container.js"></script>
  <script src="../../js/init-tooltip.js"></script>
  <script src="../../js/choose-dental-plan.js"></script>
</body>
</html>
