{{ attach_library('<%= themeNameMachine %>/page-title') }}

{%
  set classes = [
    'page-title'
  ]
%}

<div class="page-title">
  {%
    include '@<%= themeNameMachine %>/heading/heading.twig' with {
      heading: {
        title: title,
        heading_level: heading_level|default('1'),
        attributes: title_attributes,
        modifier: modifier,
      }
    }
  %}
</div>
