{#
/**
 * @file
 * Default theme implementation to display a block content.
 *
 * @see template_preprocess_block_content_template()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'block-content',
    'block-content--type-' ~ bundle|clean_class,
    'block-content--' ~ id,
    'block-content--view-mode-' ~ view_mode|clean_class
  ]
%}

<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}
  {% block content %}
    {% include '@<%= themeNameMachine %>/hero/hero.twig' with {
      "hero": {
        "media": {
          "image": content.field_media
        },
        "eyebrow": {
          "text": content.field_subhead|render|trim is not empty ? content.field_subhead,
          "modifier": "hero__eyebrow"
        },
        "heading": {
          "title": content.field_title,
          "level": "2",
          "modifier": "hero__heading"
        },
        "body": {
          "body_text": content.field_summary|render|trim is not empty ? content.field_summary,
          "modifier": "hero__body"
        },
        "button": {
          "text": content.field_link[0]['#title'],
          "url": content.field_link[0]['#url']
        }
      }
    } only %}
  {% endblock %}
</div>