<div class="content-styles">
  <h3>Ordered Lists</h3>
  <ol>
    <li>Ordered List Item 1</li>
    <li>Ordered List Item 2</li>
    <li>Ordered List Item 3</li>
    <li>Ordered List Item 4
      <ol>
        <li>Ordered List item with a much longer description or more content. Also <a href="http://google.com">this list item has a link</a>.</li>
        <li>Ordered List Item</li>
        <li>Ordered List Item</li>
      </ol>
    </li>
    <li>Ordered List Item 5</li>
    <li>Ordered List Item 6</li>
  </ol>
  <h3>Ordered Lists with nested Bulleted List</h3>
  <ol>
    <li>Ordered List Item 1</li>
    <li>Ordered List Item 2</li>
    <li>Ordered List Item 3</li>
    <li>Ordered List Item 4
      <ul>
        <li>Bulleted List Item</li>
        <li>Bulleted List Item</li>
        <li>Bulleted List Item</li>
      </ul>
    </li>
    <li>Ordered List Item 5</li>
    <li>Ordered List Item 6</li>
  </ol>
</div>
