{{ attach_library('<%= themeNameMachine %>/accordion') }}
{%
  set classes = [
    'accordion-container',
    accordion.modifier,
  ]
%}

{# Preserve the Drupal attributes if available; else, print the class attribute. #}
{%
  set attributes = attributes ? attributes.addClass(classes) : ' class="' ~ classes|join(' ') ~ '"'
%}

<section{{ attributes|raw }}>
  {# Pass in Drupal specific functionality. #}
  {{ title_prefix }}
  {{ title_suffix }}

  {% block accordion_items %}
    {% for accordion_item in accordion.items %}
      {%
        include '@<%= themeNameMachine %>/accordion/_accordion-item.twig' with {
          accordion_item: accordion_item
        } only
      %}
    {% endfor %}
  {% endblock %}
</section>
