{{ attach_library('<%= themeNameMachine %>/media') }}

<div class="media-item">
  {% if video %}
    <div class="media-item__responsive-video">
      {{ video }}
    </div>
  {% else %}
    {{ image }}
  {% endif %}
  {% if caption %}
    <div class="media-item__caption">
      {{ caption }}
    </div>
  {% endif %}
</div>
