.media-gallery-container {

  .media-library-item--grid.is-hover::before,
  .media-library-item--grid.checked::before,
  .media-library-item--grid.is-focus::before {
    width: calc(100% - 12px);
    height: calc(100% - 12px);
  }

  .media-library-item--grid {

    .media-library-item__content {

      &>article {
        position: relative;

        .media-library-item__attributes {
          bottom: 5px;
          padding: 0;
          max-width: calc(100% - 2px);
        }

        .media-library-item__preview {
          max-width: calc(100% - 2px);
        }

      }
    }
  }
}
