{#
/**
 * @file
 * Default theme implementation to display a block content.
 *
 * @see template_preprocess_block_content_template()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'block-content',
    'block-content--type-' ~ bundle|clean_class,
    'block-content--' ~ id,
    'block-content--view-mode-' ~ view_mode|clean_class
  ]
%}

<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}
  {% block content %}
    {% include '@<%= themeNameMachine %>/quote/quote.twig' with {
      "quote": {
        "modifier_class": "",
        "quote": content.field_quote.0,
        "image": content.field_thumb.0,
        "name": content.field_author.0,
        "job": content.field_job_title.0
      }
    } only %}
  {% endblock %}
</div>
