{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}

{{ attach_library('<%= themeNameMachine %>/site-header') }}

{%
  set classes = [
    'region',
    'region-header',
    'site-header',
    'site-header-middle',
    'l-flex',
    'container',
  ]
%}

{% if content %}
  <div{{ attributes.addClass(classes) }}>
    <div class="l-container">
      {{ content }}
    </div>
  </div>
{% endif %}
