// Colors
//
// All Sass color variables prefixed with $color-.
// This makes it easy to figure out what a variable
// is for later.

// Primary
$principal-blue: #0091DA;
$principal-midnight-blue: #4B4687;

// Helper colors
$principal-light-blue: #E5F4FB;
$principal-light-green: #E5F9F5;
$principal-light-midnight: #EEF1FC;
$principal-focus-blue: #006fa7;
$principal-menu-blue: #2f76b9;
$principal-menu-active: #0076cf;
$principal-menu-border: #3c60a2;

// Validation Colors
$principal-success: #009C91;
$principal-warning: #C06F18;
$principal-danger: #F05948;

// Grays
$principal-light-gray: #F1F1F1;
$principal-medium-gray: #E6E6E6;
$principal-gray: #C7C7C7;
$principal-medium-dark-gray: #767676;
$principal-dark-gray: #464646;
$color-white: #FFF;
$color-black: #404040;

// Black & White
$principal-black: #000000;
$principal-white: #FFFFFF;
