{{ attach_library('theme_name/<%= dashed %>') }}
<section class="<%= dashed %>">
  <h2 class="<%= dashed %>__heading">{{ heading }}</h2>
  {% for item in items %}
  <article class="<%= dashed %>__item">
    <h3>{{ item.title }}</h3>
    <p>{{ item.desc }}</p>
  </article>
  {% endfor %}
</section>
