{{ attach_library('<%= themeNameMachine %>/<%= dashed %>') }}
<div class="<%= dashed %>">
  <h2 class="<%= dashed %>__heading">{{ heading }}</h2>
  <p class="<%= dashed %>__body">{{ body }}</p>
</div>
