// <%= name %>
//
// This is the <%= name %> component. It's an example.
//
// Markup: <%= dashed %>.twig
//
// Style guide: Components.<%= dashed %>

// Import site utilities.
@import '../../global/utils/init';
