{#
  This file is intended to only provide an
  example presentation of l-flex.
  The l-flex__items may not be needed in basic implementations.
#}
<div class="l-flex">
  <div class="l-container">
    {% for item in items %}
      <div class="l-flex__item">{{ item.content }}</div>
    {% endfor %}
  </div>
</div>
