{#
  THIS IS A PATTERNLAB ONLY FILE.

  Use `_card.twig` for includes, including Drupal.

  This file exists to add markup that is needed to constrain
  the width of the single display of a Card in Patternlab.

#}

<style>
  .pl-style-wrapper {
    max-width: 640px;
  }
</style>

<div class="pl-style-wrapper">
  {%
    include '@<%= themeNameMachine %>/card/_card.twig'
  %}
</div>
