// Colors.
//
// All Sass color variables prefixed with $color-.
// This makes it easy to figure out what a variable
// is for later.

// Standard.
$color-white: #FFF;
$color-black: #000;

// Primary.
$color-green-lt: #dfeed8;
$color-green-mid: #77b259;
$color-green-dk: #325e1c;
$color-yellow-lt: #f9ecd1;
$color-yellow-mid: #e09600;
$color-yellow-dk: #734c00;

// Grays.
$color-gray-dk: #404041;
$color-gray-mid: #6d6e71;
$color-gray-lt: #d3d3d4;
$color-gray-xlt: #f5f4f0;
