<h3>Primary</h3>
<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #dfeed8"></span>
    <span class="sg-label">#dfeed8</span>
    <span class="sg-label">$color-green-lt</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #77b259;"></span>
    <span class="sg-label">#77b259</span>
    <span class="sg-label">$color-green-mid</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #325e1c;"></span>
    <span class="sg-label">#325e1c</span>
    <span class="sg-label">$color-green-dk</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #f9ecd1"></span>
    <span class="sg-label">#f9ecd1</span>
    <span class="sg-label">$color-yellow-lt</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #e09600;"></span>
    <span class="sg-label">#e09600</span>
    <span class="sg-label">$color-yellow-mid</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #734c00;"></span>
    <span class="sg-label">#734c00</span>
    <span class="sg-label">$color-yellow-dk</span>
  </li>
</ul>

<h3>Black &amp; White</h3>
<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #000000;"></span>
    <span class="sg-label">#000000</span>
    <span class="sg-label">$color-black</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #FFFFFF;"></span>
    <span class="sg-label">#FFFFFF</span>
    <span class="sg-label">$color-white</span>
  </li>
</ul>

<h3>Grays</h3>
<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #404041;"></span>
    <span class="sg-label">#404041</span>
    <span class="sg-label">$color-gray-dk</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #6d6e71;"></span>
    <span class="sg-label">#6d6e71</span>
    <span class="sg-label">$color-gray-mid</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #d3d3d4;"></span>
    <span class="sg-label">#d3d3d4</span>
    <span class="sg-label">$color-gray-lt</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #f5f4f0;"></span>
    <span class="sg-label">#f5f4f0</span>
    <span class="sg-label">$color-gray-xlt</span>
  </li>
</ul>
