{{ attach_library('<%= themeNameMachine %>/hero') }}

<section class="hero">
  {% if hero.media %}
    {%
      include '@<%= themeNameMachine %>/media/media.twig' with {
        "image": hero.media.image
      } only
    %}
  {% endif %}

  <div class="hero__content">
    {% if hero.eyebrow %}
      {%
        include '@<%= themeNameMachine %>/eyebrow/eyebrow.twig' with {
          "eyebrow": hero.eyebrow
        } only
      %}
    {% endif %}

    {% if hero.heading %}
      {%
        include '@<%= themeNameMachine %>/heading/heading.twig' with {
          "heading": hero.heading
        } only
      %}
    {% endif %}

    {% if hero.body %}
      {%
        include '@<%= themeNameMachine %>/body-text/body-text.twig' with {
          "body_text": hero.body.body_text,
          "modifier": hero.body.classes
        } only
      %}
    {% endif %}

    {% if hero.button.url %}
      {%
        include '@<%= themeNameMachine %>/button/button.twig' with {
          "button": hero.button
        } only
      %}
    {% endif %}
  </div>
</section>
