{#
/**
 * @file
 * Default theme implementation to display a block content.
 *
 * @see template_preprocess_block_content_template()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'block-content',
    'block-content--type-' ~ bundle|clean_class,
    'block-content--' ~ id,
    'block-content--view-mode-' ~ view_mode|clean_class,
    'container'
  ]
%}

<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}
  {% block content %}
    {% if carousel_items %}
      {# carousel_items, carousel_thumbs provided by preprocess #}
      {% include '@<%= themeNameMachine %>/gallery-carousel/gallery-carousel.twig' with {
          "section_title": content.field_title,
          "intro_text": content.field_subhead,
          "carousel_items": carousel_items,
          "carousel_nav_items": carousel_thumbs
      } only %}
    {% endif %}
  {% endblock %}
</div>
