{{ attach_library('<%= themeNameMachine %>/latest-news') }}
<section class="latest-news{{ attributes ? ' ' ~ attributes.class}}">
  {% if heading.title %}
    {%
      include '@<%= themeNameMachine %>/heading/heading.twig' with {
        "heading": heading,
      } only
    %}
  {% endif %}
  <div class="latest-news__list">
    {% block card_items %}
      <div class="latest-news__items">
        {% for item in items %}
          <div class="latest-news__card">
            {%
              include '@<%= themeNameMachine %>/card/card.twig' with {
                card: item.card,
              } only
            %}
          </div>
        {% endfor %}
      </div>
    {% endblock %}
  </div>
</section>
