// Import site utilities.
@import '../../global/utils/init';

.latest-news__items {
  grid-template-columns: repeat(3, 1fr);
  // sass-lint:disable no-misspelled-properties
  column-gap: 6rem;

  & .latest-news__item {
    display: none;
  }

  @include breakpoint($bp-sm) {
    display: grid;
  }
}

.latest-news__card {

  .card__media {
    display: none;
  }

  &:first-child {
    grid-column: 1 / 4;

    .card__media {
      display: block;
    }

    @include breakpoint($bp-sm) {
      .card__content {
        margin-left: 6rem;
      }
    }
  }
}
