// Import site utilities.
@import '../../global/utils/init';

.card-list__title {
  margin-bottom: 2rem;
}

.card-list__items {
  list-style-type: none;

  @include breakpoint($bp-sm) {
    display: flex;
    margin-left: -1rem;
    margin-right: -1rem;
  }
}

.card-list__item {

  @include breakpoint($bp-sm) {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &:not(:first-child) {
    margin-top: 3rem;

    @include breakpoint($bp-sm) {
      margin-top: 0;
    }
  }
}
