{{ attach_library('<%= themeNameMachine %>/card-list') }}

<div class="card-list">
  {% if section_title %}
    {%
      include '@booya/heading/heading.twig' with {
        "heading": {
          "title": section_title,
          "heading_level": 2,
          "classes": "card-list__title"
        }
      } only
    %}
  {% endif %}

  {% if items|length %}
    <ul class="card-list__items">
      {% block card_items %}
        {% for item in items %}
          <li class="card-list__item">
            {%
              include '@booya/card/card.twig' with {
                "card": item.card
              } only
            %}
          </li>
        {% endfor %}
      {% endblock %}
    </ul>
  {% endif %}
</div>
