{{ attach_library('<%= themeNameMachine %>/card-list') }}
{%
  set classes = [
    'card-list',
    card_list.modifier,
  ]
%}

{%
  set attributes = attributes ? attributes.addClass(classes) : ' class="' ~ classes|join(' ') ~ '"'
%}

<section{{ attributes|raw }}>
  {{ title_prefix }}
  {{ title_suffix }}

  {% if card_list.section_title %}
    {%
      include '@<%= themeNameMachine %>/heading/heading.twig' with {
        "heading": {
          "title": card_list.section_title,
          "heading_level": 2,
          "classes": "card-list__title"
        }
      } only
    %}
  {% endif %}

  {% if card_list.items|length %}
    <ul class="card-list__items">
      {% block card_items %}
        {% for item in card_list.items %}
          <li class="card-list__item">
            {%
              include '@<%= themeNameMachine %>/card/card.twig' with {
                "card": item.card
              } only
            %}
          </li>
        {% endfor %}
      {% endblock %}
    </ul>
  {% endif %}
</div>
