{#
/**
 * @file
 * Default theme implementation to display a block content.
 *
 * @see template_preprocess_block_content_template()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'block-content',
    'block-content--type-' ~ bundle|clean_class,
    'block-content--' ~ id,
    'block-content--view-mode-' ~ view_mode|clean_class,
  ]
%}

<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}
  {% block content %}
    {% if content.field_title %}
      <div class="container">
        {%
          include '@<%= themeNameMachine %>/heading/heading.twig' with {
            "heading": {
              "title": content.field_title,
              "heading_level": "2",
              "modifier": "heading--section",
            },
          } only
        %}
      </div>  
    {% endif %}
    {% set media_type = content.field_media['#items'].entity.bundle() %}
    {% include '@<%= themeNameMachine %>/media/media.twig' with {
      "image": media_type == 'image' ? content.field_media['#items'].entity.field_image|view : null,
      "video": media_type == 'video' ? content.field_media['#items'].entity.field_media_video_embed_field|view : null,
      "caption": content.field_media['#items'].entity.field_caption|view
    } only %}
  {% endblock %}
</div>
