// Colors.
//
// All Sass color variables prefixed with $color-.
// This makes it easy to figure out what a variable
// is for later.
//
// If you need help naming colors check out:
// http://chir.ag/projects/name-that-color/

// Standard.
$color-white: #FFFFFF;
$color-black: #1B2B34;

// Primary.
$color-mandy: #EC5f67;
$color-tan-hide: #F99157;
$color-saffron-mango: #FAC863;
$color-de-york: #99C794;
$color-tradewind: #5FB3B3;
$color-danube: #6699CC;

// Grays.
$color-gray-dk: #343D46;
$color-gray-mid: #4F5B66;
$color-gray-lt: #65737E;
$color-gray-xlt: #A7ADBA;
