//=======================================================
// Forms
//=======================================================

button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
}

// Address `overflow` set to `hidden` in IE 8/9/10/11.
button,
input {
  overflow: visible;
}

// Remove the inheritance of text transform in Edge, Firefox, and IE.
// Remove the inheritance of text transform in Firefox.
button,
select {
  text-transform: none;
}

// Change the border, margin, and padding in all browsers (opinionated).
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

// Correct the text wrapping in Edge and IE.
// Correct the color inheritance from `fieldset` elements in IE.
// Remove the padding so developers are not caught out when they zero out
// `fieldset` elements in all browsers.
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

// Remove the default vertical scrollbar in IE.
textarea {
  overflow: auto;
}

// Add the correct box sizing in IE 10-.
// Remove the padding in IE 10-.
[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}
