//=======================================================
// Media
//=======================================================

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

// Prevent modern browsers from displaying `audio` without controls.
// Remove excess height in iOS 5 devices.
audio:not([controls]) {
  display: none;
  height: 0;
}

// Address `[hidden]` styling not present in IE 8/9/10.
[hidden] {
  display: none;
}

// Embedded content
img {
  height: auto;
  border: 0;
  max-width: 100%;
}

// Correct overflow not hidden in IE 9/10/11.
svg:not(:root) {
  overflow: hidden;
}
