{{ attach_library('<%= themeNameMachine %>/social-menu') }}
{% import '@<%= themeNameMachine %>/icons/_icons-macro.twig' as icons %}

{% embed '@<%= themeNameMachine %>/menu/menu.twig' with {
  items: items,
  modifier: 'site-footer__social'
} %}
  {% block menu_item %}
    <a href="{{ item.url }}" class="site-footer__social-icon">
      {{ icons.get(item.title|lower) }}
    </a>
  {% endblock %}
{% endembed %}
