<header role="banner">
  <div class="region site-header-top">
    {%
      include '@<%= themeNameMachine %>/utility-nav/utility-nav.twig' with {
        links: user_account_nav.links
      } only
    %}
  </div>
  <div class="region site-header-middle l-flex container">
    <div class="l-container">
      {%
        include '@<%= themeNameMachine %>/site-branding/site-branding.twig' with {
          links: site_branding.link,
          site_name: site_branding.site_name
        } only
      %}
    </div>
  </div>
  <div class="region site-header-bottom">
    {%
      include '@<%= themeNameMachine %>/main-menu/main-menu.twig' with {
        items: main_menu.items
      } only
    %}
    {%
      include '@<%= themeNameMachine %>/breadcrumb/breadcrumb.twig' with {
        breadcrumb: breadcrumb
      } only
    %}
  </div>
</header>
