<li class="carousel-item">
  <div class="carousel-item__media">
    {%
      include '@<%= themeNameMachine %>/media/media.twig' with {
        "image": item.image,
      } only
    %}
  </div>
  {% if item.title %}
    <div class="carousel-item__content">
      {%
        include '@<%= themeNameMachine %>/heading/heading.twig' with {
          "title": item.title,
          "heading_level": 3,
          "modifier": "carousel-item__title",
        } only
      %}
      {% if item.button.text %}
        {%
          include '@<%= themeNameMachine %>/button/button.twig' with {
            "text": item.button.text,
            "url": item.button.url,
          } only
        %}
      {% endif %}
    </div>
  {% endif %}
</li>
