<li class="carousel-item">
  <div class="carousel-item__media">
    {%
      include '@rain_theme/media/media.twig' with {
        "image": item.image,
      } only
    %}
  </div>
  {% if item.title %}
    <div class="carousel-item__content">
      {%
        include '@rain_theme/heading/heading.twig' with {
          "heading": {
            "title": item.title,
            "heading_level": 2,
            "modifier": "carousel-item__title",
          }
        } only
      %}
      {% if item.button.text %}
        {%
          include '@rain_theme/button/button.twig' with {
            "button": {
              "text": item.button.text,
              "url": item.button.url,
            }
          } only
        %}
      {% endif %}
    </div>
  {% endif %}
</li>
