{{ attach_library('<%= themeNameMachine %>/carousel') }}
{%
  set classes = [
    'carousel',
    carousel.modifier,
  ]
%}

{%
  set class_attr = ' class="' ~ classes|join(' ') ~ '"'
%}

{%
  set attributes = attributes ? attributes.addClass(classes) : class_attr
%}

<section{{ attributes|raw }}>
  {{ title_prefix }}
  {{ title_suffix }}

  <ul class="carousel__list carousel__slick">
    {% block carousel_items %}
      {% for carousel_item in carousel.list %}
        {%
          include '@<%= themeNameMachine %>/carousel/_carousel-item.twig' with {
            "carousel_item": carousel_item
          } only
        %}
      {% endfor %}
    {% endblock %}
  </ul>
</section>
