{#
  This file is intended to only provide an
  example presentation of a full page layout
  vs two column layout with sidebar.
#}

{{ attach_library('rain_theme/page-layout') }}

{%
  set classes = [
    'layout-content',
    sidebar_right ? 'two-col-layout' : ''
  ]
%}

{% set attributes = attributes ? attributes.addClass(classes) : ' class="' ~ classes|join(' ') ~ '"' %}

<div class="layout-container">

  <header role="banner">
    <div class="region region-header-top">
      {%
        include '@rain_theme/utility-nav/utility-nav.twig' with {
          links: user_account_nav.links
        } only
      %}
    </div>
    <div class="region site-header-middle l-flex container">
      <div class="l-container">
        {%
          include '@rain_theme/site-branding/site-branding.twig' with {
            links: site_branding.link
          } only
        %}
      </div>
    </div>
    <div class="region region-header-bottom">
      {%
        include '@rain_theme/main-menu/main-menu.twig' with {
          items: main_menu.items
        } only
      %}
      {%
        include '@rain_theme/breadcrumb/breadcrumb.twig' with {
          breadcrumb: breadcrumb
        } only
      %}
    </div>
  </header>

  <main role="main">
    <div {{ attributes }}>
      <div class="region-content">
        <p> {{ page_content }} </p>
      </div>

    {% if sidebar_right %}
      <aside class="layout-sidebar-right" role="complementary">
        {{ sidebar_right }}
      </aside>
    {% endif %}
  </div>
  </main>
</div>
