<div class="fieldgroup form-composite form-checkboxes">
  <div class="form-item form-item-field-flexibility">
    <input type="checkbox" id="checkbox_1" value="flexibility" class="form-checkbox">
    <label for="checkbox_1" class="option">Flexibility</label>
  </div>
  <div class="form-item form-item-field-extendability">
    <input type="checkbox" id="checkbox_2" value="extendability" class="form-checkbox">
    <label for="checkbox_2" class="option">Extendability</label>
  </div>
</div>
