<fieldset>
  <div class="field-item"><label for="ic" class="field-item__label">Standard input</label><input type="text" id="text" class="field-item__text" placeholder="Text"></div>
  <div class="field-item"><label for="ic" class="field-item__label">Standard textarea</label><textarea id="textarea" class="field-item__text" placeholder="Type here"></textarea></div>
  <div class="field-item"><label for="ic" class="field-item__label">Search input</label><input type="search" id="is" class="field-item__text" placeholder="Search"></div>
  <div class="field-item"><label for="ic" class="field-item__label">Email input</label><input type="email" id="ie" class="field-item__text" placeholder="email@email.com"></div>
  <div class="field-item"><label for="ic" class="field-item__label">Color input</label><input type="color" id="ic" class="field-item__text" value="#000000"></div>
  <div class="field-item"><label for="in" class="field-item__label">Number input</label><input type="number" id="in" class="field-item__text" min="0" max="10" value="5"></div>
  <div class="field-item"><label for="ir" class="field-item__label">Range input</label><input type="range" id="ir" class="field-item__text" value="10"></div>
  <div class="field-item"><label for="idd" class="field-item__label">Date input</label><input type="date" id="idd" class="field-item__text" value="1970-01-01"></div>
  <div class="field-item"><label for="idm" class="field-item__label">Month input</label><input type="month" id="idm" class="field-item__text" value="1970-01"></div>
  <div class="field-item"><label for="idw" class="field-item__label">Week input</label><input type="week" id="idw" class="field-item__text" value="1970-W01"></div>
  <div class="field-item"><label for="idt" class="field-item__label">Datetime input</label><input type="datetime" class="field-item__text" id="idt" value="1970-01-01T00:00:00Z"></div>
  <div class="field-item"><label for="idtl" class="field-item__label">Datetime-local input</label><input type="datetime-local" id="idtl" class="field-item__text" value="1970-01-01T00:00"></div>
</fieldset>
