<h3>Primary</h3>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #0091DA"></span>
		<span class="sg-label">#0091DA</span>
		<span class="sg-label">$principal-blue</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #4B4687;"></span>
		<span class="sg-label">#4B4687</span>
		<span class="sg-label">$principal-midnight-blue</span>
	</li>
</ul>

<h3>Helper Colors</h3>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #E5F4FB"></span>
		<span class="sg-label">#E5F4FB</span>
		<span class="sg-label">$principal-blue</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #E5F9F5;"></span>
		<span class="sg-label">#E5F9F5</span>
		<span class="sg-label">$principal-light-green</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #EEF1FC;"></span>
		<span class="sg-label">#EEF1FC</span>
		<span class="sg-label">$principal-light-midnight</span>
	</li>
</ul>

<h3>Validation Colors</h3>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #009C91;"></span>
		<span class="sg-label">#009C91</span>
		<span class="sg-label">$principal-success</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #C06F18;"></span>
		<span class="sg-label">#C06F18</span>
		<span class="sg-label">$principal-warning</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #F05948;"></span>
		<span class="sg-label">#F05948</span>
		<span class="sg-label">$principal-danger</span>
	</li>
</ul>

<h3>Grays</h3>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #F1F1F1;"></span>
		<span class="sg-label">#F1F1F1</span>
		<span class="sg-label">$principal-light-gray</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #E6E6E6;"></span>
		<span class="sg-label">#E6E6E6</span>
		<span class="sg-label">$principal-medium-gray</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #C7C7C7;"></span>
		<span class="sg-label">#C7C7C7</span>
		<span class="sg-label">$principal-gray</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #767676;"></span>
		<span class="sg-label">#767676</span>
		<span class="sg-label">$principal-medium-dark-gray</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #464646;"></span>
		<span class="sg-label">#464646</span>
		<span class="sg-label">$principal-dark-gray</span>
	</li>
</ul>

<h3>Black & White</h3>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #000000;"></span>
		<span class="sg-label">#000000</span>
		<span class="sg-label">$principal-black</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #FFFFFF;"></span>
		<span class="sg-label">#FFFFFF</span>
		<span class="sg-label">$principal-white</span>
	</li>
</ul>
