

<li class="gallery-lightbox-item">
  <div>
    <img src="{{ media_thumb }}" class="gallery-lightbox-item__media" alt="{{ media_description }}"/>
    {% include '@rain_theme/gallery-lightbox/gallery-lightbox-expand-btn.twig' only %}
  </div>
</li>
