@import '../../global/utils/init';

.search-api-results {
  margin-top: 50px;

  .search-api-page-block-form-search-results {
    margin-bottom: 50px;
  }

  ul,
  ol {
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
  }
}
