// Messages
//
// The messages component is mostly a duplicate of the Classy theme
// styled system messages. There are slight modifiers added to give
// more flexibility.
//
// .messages--status - Status system message.
// .messages--error - Error system message.
// .messages--warning - Warning system message.
// .messages--plain - Removes the background image if there is one.
//                    In this example the messages--warning modifier is used as well.
//
// Markup: messages.twig
//
// Style guide: Components.messages

// Import site utilities.
@import '../../global/utils/init';

.messages {
  background: no-repeat 10px 17px;
  border: 3px solid;
  padding: 15px 20px 15px 35px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.messages + .messages {
  margin-top: 1.538em;
}

.messages__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.messages__item + .messages__item {
  margin-top: 0.769em;
}

/* See .color-success in Seven's colors.css */
.messages--status {
  color: #325e1c;
  background-color: #f3faef;
  border-color: #77b259;
  background-image: url('../assets/check.svg');
}

/* See .color-warning in Seven's colors.css */
.messages--warning {
  background-color: #fdf8ed;
  background-image: url('../assets/warning.svg');
  border-color: #e09600;
  color: #734c00;
}

/* See .color-error in Seven's colors.css */
.messages--error {
  background-color: #ffddde;
  color: #a23433;
  background-image: url('../assets/error.svg');
  border-color: #a23433;
}

/* Modifier to remove background image. */
.messages--plain {
  background-image: none;
  padding: 15px 20px;
}

.messages--error .error {
  color: $color-error;
}
