.layout-builder-form {

  .layout-builder__message > .container {
    max-width: 100%;
  }

  .button {
    padding: 5px 8px;
  }
}

.block-help-block {
  font-size: 80%;
  font-style: italic;
  padding: 10px 1.5rem 0;
}

.layout-builder {
  margin: 10px;

  & > .container {
    max-width: 100%;
  }

  .message--warning {
    margin: 0 0 10px;
  }
}

.layout-builder__link {
  margin-bottom: 10px;
}

#drupal-off-canvas {

  .form-search {
    margin: 20px 0;
    width: 100%;
    font-size: inherit;
  }

  .layout-builder-browser-block-item {

    text-align: center;
    display: block;
    padding-bottom: 5px;

    &:hover {
      color: #fff;
      text-decoration: none;
    }

    img {
      margin-bottom: 10px;
      width: 100%;
      cursor: pointer;

      &:hover {
        transition-property: opacity;
        transition-duration: 500ms;
        opacity: 0.8;
      }
    }
  }

  .layout-builder-remove-block {
    padding-top: 20px;
  }

  .layout-selection {
    margin-top: 20px;
  }

  svg {
    margin-bottom: 8px;
    margin-left: 2px;
  }

  .moderation-sidebar-info p {
    display: block;
  }

  .js-layout-builder-filter {
    margin-bottom: 20px;
  }

  .js-layout-builder-category {

    & > summary {
      margin-bottom: 15px;
      display: block;
      cursor: pointer;
    }

    .links li {
      margin-bottom: 10px;
    }
  }

  a {
    cursor: pointer;
  }
}
